@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 10px; 
    
}

body::-webkit-scrollbar-thumb {
    background-color: #F1C40F; 
    border-radius: 4px; 
    
}

body::-webkit-scrollbar-track {
    background-color: black; 
}
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
header nav{
    background-color: white;
    position: relative;
}
header nav img{
    width: 40px;
    position: absolute;
    top: 30px;
    left: 20px;
    border: 1px solid black;
}
header nav ul .nav-link{
    color: black;
}
header nav ul .active{
    color: #F1C40F;
}
section{
    height: 100vh;
    width: 100%;
    padding: 50px 0;
}
#home{
    position: relative;
    overflow: hidden;
}
#home h5{
    background-color: bisque;
    width: 190px;
    padding: 5px;
    border-radius: 15px;

}
#home h1{
    font-style: italic;

}
#home h1 span{
    color:#F1C40F;
}
#home p{
    width: 90%;
}
#home .shape{
    position: absolute;
    bottom: 0px;
    left: -2px;
    z-index: -1;
    width: 110%;
}
#home img{
    width: 100%;
}
#skill{
    background-color: black;
    height: auto;
    color: white;
    margin-top: -10px;
}
#skill h6{
    background-color: white;
    color: black;
    width: 100px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
}
#skill .card{
    color: black;
    z-index: 0;
    position: relative;
    background-color: transparent;

}
#skill .card::before{
    content: '';
    position: absolute;
    padding: 10rem;
    background-color:white;
    clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    top: 0; right: 0; left: 0;bottom: 0;
    z-index: -1;
}
#skill .card .icon{
    height: 50px;
    z-index: 200;
}
#skill .card img{
    width: 80px;
    position: absolute;
    top: -30px;
    left:39%;    
    z-index: 100;
}
#skill .card p{
    margin: 20px 0 0 10px;
}